venv/
.env
__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info/
dist/
build/
*.egg
*.whl
*.coverage
.vscode/
.vscode
*.json
.vscode/launch.json
core/__pycache__/__init__.cpython-310.pyc
core/__pycache__/main.cpython-310.pyc
lounch.json
.vscode/launch.json
